.container{
    color: black;
    top: 0; left: 0; bottom: 0; right: 0;
    margin: 0 auto;
    max-width: 800px;
    position: absolute;
    bottom: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: sans-serif;
}

p, blockquote{
    font-size: .9em;
    line-height: 1.6em;
}

.container {
    text-align: center;
    padding: .8em 1.2em;
}

.menu {
    display: none;
    width: 25px;
}

nav ul {
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    color: rgb(153, 231, 255);
}

.module {
    margin: auto;
    width: 75%;
    padding: .5em 1.5em;
}

a:link, a:visited{
    padding: 0.2em 0.4em;
    color: black;
    text-align: justify;
    display: inline-block;
    text-decoration: none;
}

a:hover, a:active {
    background-color: rgb(153, 231, 255);
}