<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Patrick, The Developer</title>
    <link rel="stylesheet" type="text/css" href="{% static 'coolui/css/style.css' %}">
</head>
<body>
    <div class="container">
        <nav>
            <ul class="show-desktop hide-mobile" id="nav">
                    <li><a href="{% url 'index' %}">home</a></li>
                    <li><a href="#">contact</a></li>
                    <li><a href="{% url 'project' %}">projects</a></li>
                </li>
            </ul>
        </nav>
        <h1>You've reached the contact page</h1>
        <div class="mtop"></div>
        <div class="module">
            <h2>on AWS Lightsail using Bitnami Django</h2>
        </div>
        <div class="mbottom"></div>
        <p>
            Please reach out to me for all inquiries!<br>
            psriprac@gmail.com<br>
        </p>
    </div>
</body>
</html>